body {
  padding-top: 100px;
}

#calculator {
  border: 1px solid black;
  width: fit-content;
  border-radius: 10px;
  margin: auto;
}

#calc_display_area {
  height: 100px;
  text-align: end;
  padding-right: 5px;
  font-size: 45px;
  padding-top: 50px;
}

#recent_equation_area {
  color: lightgray;
  display: block;
  font-size: 16px;
}

#calc_buttons_area {
  margin: auto;
}

button {
  background-color: lightblue;
  width: 50px;
  height: 50px;
  margin: 3px;
  font-weight: 900;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
}

.half_stretch {
  width: 106px;
}
